n8n/workflow.json
{
  "name": "Astana Housing AI Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "astana-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"max_tokens\": 2000,\n  \"temperature\": 0.4,\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Сен 'Астана Баспана' платформасының жасанды интеллект кеңесшісісің. Атың — Баспана ЖИ.\\n\\nМІНДЕТТІ ЕРЕЖЕЛЕР:\\n- Тек қазақ тілінде жауап бер\\n- Нақты сандар мен деректерді қолдан\\n- Жауаптарды құрылымды, нүктелі жаз\\n- Пайдаланушы сұрағына тікелей жауап бер\\n\\nАСТАНА НАРЫҒЫ ДЕРЕКТЕРІ (2024-2025):\\nЖалпы: 18 388 пәтер | Орт. баға: 93 952$ (44 млн ₸) | 1м²: 1 240$\\nДоллар бағамы: 1$ ≈ 470 ₸\\n\\nАУДАНДАР:\\n• Есіл р-н — 5 121 пәтер, орт. 127 046$ (~59.7 млн ₸). Ақорда, іскери орталық, ең престижді.\\n• Нура р-н — 4 123 пәтер, орт. 89 243$ (~41.9 млн ₸). Жаңа тұрғын үй кешендері.\\n• Алматы р-н — 3 894 пәтер, орт. 80 955$ (~38 млн ₸). Орталыққа жақын.\\n• Сарыарка р-н — 2 104 пәтер, орт. 60 185$ (~28.3 млн ₸). Ең қолжетімді.\\n• Сарайшық р-н — 1 467 пәтер, орт. 80 234$ (~37.7 млн ₸). Дамып келе жатқан.\\n• р-н Байконур — 901 пәтер, орт. 69 668$ (~32.7 млн ₸). Тыныш тұрғын аудан.\\n\\nБӨЛМЕЛЕР:\\n• 1 бөлмелі: орт. 44 519$ — жалға беруге тиімді\\n• 2 бөлмелі: орт. 70 234$ — ең көп ұсыныс\\n• 3 бөлмелі: орт. 112 259$\\n• 4 бөлмелі: орт. 194 047$\\n\\nИПОТЕКА:\\n• Баспана-1: 5% жылдық, 20% бастапқы жарна\\n• 7-20-25: 7% жылдық, 25 жылға дейін\\n• Нарықтық: 14-18% жылдық\\n\\nИНВЕСТИЦИЯ:\\n• Жалға беру кірісі: 6-9% жылдық\\n• Баға өсімі: 8-12% жылдық\\n• Ең тиімді: Есіл р-н 1-2 бөлмелі пәтер\"},\n    {\"role\": \"user\", \"content\": \"{{ $json.body.message }}\"}\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Groq AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8783899500:AAHaZ_05HRKGKfWtG4UpEL82AkCz2UvoXLs/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"1609875869\",\n  \"text\": \"Жаңа сұрақ: {{ $('Webhook').item.json.body.message }}\\n\\nЖауап: {{ $('Groq AI').item.json.choices[0].message.content.replace(/\\n/g, ' ') }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $('Groq AI').item.json.choices[0].message.content }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Groq AI", "type": "main", "index": 0 }]]
    },
    "Groq AI": {
      "main": [[
        { "node": "Telegram", "type": "main", "index": 0 },
        { "node": "Response", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
